@model BnetLeaderboard.Models.ResourceModels.ComparativeLadderResult
@{
    ViewBag.Title = "Comparative Ladder Results";
    var rank = 1;
    var index = 0;
}

<h2>Comparative Ladder Results</h2>


<table style="margin: 0px auto;">
    <th style="padding-right: 50px">Rank</th>
    <th style="padding-right: 50px">Name</th>
    <th style="padding-right: 50px">Race</th>
    <th style="padding-right: 50px">MMR</th>
    <th style="padding-right: 50px">Win%</th>

    @while (index < Model.EuPlayers.Count)
    {
        <tr style="background-color: @Model.EuPlayers[index].RaceColor">
            <td>
                @rank
            </td>
            <td style="padding-right: 30px">
                <img src="~/img/Eu.png" style="width: 18px; height: 18px"/> @Html.DisplayFor(modelItem => Model.EuPlayers[index].DisplayName)
            </td>
            <td style="padding-right: 30px">
                <img src="~/img/Eu.png" style="width: 18px; height: 18px"/> @Html.DisplayFor(modelItem => Model.EuPlayers[index].FavoriteRace)
            </td>
            <td>
                <img src="~/img/Eu.png" style="width: 18px; height: 18px"/> @Html.DisplayFor(modelItem => Model.EuPlayers[index].Mmr)
            </td>
            <td>
                <img src="~/img/Eu.png" style="width: 18px; height: 18px"/> @Html.DisplayFor(modelItem => Model.EuPlayers[index].WinRate)
            </td>
        </tr>
        <tr style="background-color: @Model.AsiaPlayers[index].RaceColor">
            <td>
            </td>
            <td style="padding-right: 30px">
                <img src="~/img/Ko.png" style="width: 18px; height: 18px"/> @Html.DisplayFor(modelItem => Model.AsiaPlayers[index].DisplayName)
            </td>
            <td style="padding-right: 30px">
                <img src="~/img/Ko.png" style="width: 18px; height: 18px"/> @Html.DisplayFor(modelItem => Model.AsiaPlayers[index].FavoriteRace)
            </td>
            <td>
                <img src="~/img/Ko.png" style="width: 18px; height: 18px"/> @Html.DisplayFor(modelItem => Model.AsiaPlayers[index].Mmr)
            </td>
            <td>
                <img src="~/img/Ko.png" style="width: 18px; height: 18px"/> @Html.DisplayFor(modelItem => Model.AsiaPlayers[index].WinRate)
            </td>
        </tr>
        <tr style="background-color: @Model.UsPlayers[index].RaceColor; border-bottom: 2px solid black">
            <td>
            </td>
            <td style="padding-right: 30px">
                <img src="~/img/Us.png" style="width: 18px; height: 18px"/> @Html.DisplayFor(modelItem => Model.UsPlayers[index].DisplayName)
            </td>
            <td style="padding-right: 30px">
                <img src="~/img/Us.png" style="width: 18px; height: 18px"/> @Html.DisplayFor(modelItem => Model.UsPlayers[index].FavoriteRace)
            </td>
            <td>
                <img src="~/img/Us.png" style="width: 18px; height: 18px"/> @Html.DisplayFor(modelItem => Model.UsPlayers[index].Mmr)
            </td>
            <td>
                <img src="~/img/Us.png" style="width: 18px; height: 18px"/> @Html.DisplayFor(modelItem => Model.UsPlayers[index].WinRate)
            </td>
        </tr>
        rank++;
        index++;
    }
</table>